body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: auto;
    font-size: 11px;
    text-align: center;
}

footer a{
    color: hsl(228, 45%, 44%);
}

.qr-code-section{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-code-section-article{
    width: 250px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px hsl(218, 44%, 22%, 0.1);
}

.qr-code-section-article>h1{    
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.qr-code-section-article>p{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.qr-code-image{
    height: 250px;
    width: auto;
    border-radius: 8px;
}